#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 1;

    transition: opacity 0.5s ease-out;
    z-index: 10;
    pointer-events: none;
}

body {
    font-family: Inter, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #1e1e1e;
}

h1 {
    font-size: 3em;
}

p {
    margin-bottom: 1em;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;

    border-bottom: 1px solid;
    margin-bottom: -1px;
    border-color: lightgray;
}

.button {
    justify-content: center;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.button input {
    all: unset;
}

.button a, .submit-button {
    all: unset;
    background-image: url("../public/gradient.jpg");

    position: relative;
    overflow: hidden;
    padding: 10px 15px;

    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    cursor: pointer;
}

.button a::after, .submit-button::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 50%;
    right: 50%;
    height: 1px;
    background: #fff;
    transition: all 0.3s;
}

.button a:hover::after, .submit-button:hover::after {
    left: 15px;
    right: 15px;
}

.logo img {
    height: 36px;
    width: auto;
    object-fit: contain;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;

    border-bottom: 1px solid;
    margin-bottom: -1px;
    border-color: lightgray;
}

.navbar-button {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-button li {
    display: inline;
}

.navbar-button a {
    position: relative;
    overflow: hidden;
    padding: 10px 15px;

    text-decoration: none;
    color: #000;
    border-radius: 10px;
}

.navbar-button a::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 50%;
    right: 50%;
    height: 1px;
    background: #000;
    transition: all 0.3s;
}

.navbar-button a:hover::after {
    left: 15px;
    right: 15px;
}

.navbar-button a.active {
    background-image: url("../public/gradient_tileable.jpg");
    background-size: 200%, 200%;

    -webkit-animation: scrolling 10s linear infinite;
    -moz-animation: scrolling 10s linear infinite;
    -o-animation: scrolling 10s linear infinite;
    animation: scrolling 10s linear infinite;
}

@-webkit-keyframes scrolling {
    from {
        background-position: 0, 0;
    }
    to {
        background-position: 200%, 0;
    }
}

.unity-desktop {
  margin-top: 60px;
}