#chat-container {
    height: 100%;
}

#messages {
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#input-div {
    position: fixed;
    width: 60%;
    bottom: 40px;
    display: flex;
    gap: 10px;
    pointer-events: none;
}

input {
    flex: 1;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:disabled {
    background-color: lightgray;
}

.message {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    align-self: flex-start;
    word-wrap: break-word;
}

.userMessage {
    background-color: #ffffff;
    align-self: flex-end;
    text-align: right;
}

.botMessage {
    background-color: #e1e1e1;
    align-self: flex-start;
    text-align: left;
}
