.icon-button9,
.menu16-icon4 {
  overflow: hidden;
  flex-shrink: 0;
}
.menu16-icon4 {
  height: 20px;
  width: 20px;
  position: relative;
}
.icon-button9 {
  height: 44px;
  width: 44px;
  border-radius: var(--scale-06);
  background-color: var(--text-brand-on-brand);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300) var(--padding-2xs);
}
.icon4 {
  height: 35px;
  width: 23.3px;
  position: relative;
  display: none;
}
.block4,
.figma5 {
  height: px;
  width: px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url(../public/figma@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.block4 {
  height: 35px;
  width: 40px;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.title55 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 45px;
}
.navigation-pill24 {
  border-radius: var(--radius-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200);
  cursor: pointer;
}
.title56 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 108px;
}
.navigation-pill25 {
  flex: 1;
  border-radius: var(--radius-200);
  background: linear-gradient(90deg, #d9eefe, #d2dcfe);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200) var(--padding-6xs);
  white-space: nowrap;
}
.title57 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 114px;
  white-space: nowrap;
}
.navigation-pill26 {
  flex: 1;
  border-radius: var(--radius-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200) var(--padding-6xs);
}
.title58 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 66px;
}
.navigation-pill27 {
  border-radius: var(--radius-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200);
}
.title59,
.title60 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 68px;
}
.title60 {
  min-width: 61px;
}
.navigation-pill-list4,
.navigation-pill29 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation-pill29 {
  border-radius: var(--radius-200);
  justify-content: center;
  padding: var(--space-200) var(--padding-6xs);
}
.navigation-pill-list4 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-602xl);
  box-sizing: border-box;
  gap: var(--space-200);
  max-width: 100%;
}
.button53,
.star-icon26 {
  position: relative;
  display: none;
}
.star-icon26 {
  height: 16px;
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.button53 {
  align-self: stretch;
  width: 51px;
  line-height: 100%;
  white-space: nowrap;
}
.button52 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--radius-200);
  background-color: var(--background-neutral-tertiary);
  border: 1px solid var(--border-neutral-secondary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200);
  gap: var(--space-200);
}
.star-icon27 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button55 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.button54,
.header-auth4 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.button54 {
  flex: 1;
  border-radius: var(--radius-200);
  background-color: var(--border-brand-default);
  border: 1px solid var(--border-brand-default);
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: var(--space-200);
  gap: var(--space-200);
  color: var(--text-brand-on-brand);
}
.header-auth4 {
  width: 178px;
  display: none;
  justify-content: flex-start;
  gap: var(--space-300);
}
.header4,
.slack-icon2 {
  position: absolute;
  overflow: hidden;
}
.header4 {
  top: 0;
  left: 0;
  background-color: var(--background-default-default);
  border-bottom: 1px solid var(--border-default-default);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 33.5px var(--space-800) var(--padding-13xl);
  gap: 0 24px;
  max-width: 100%;
  height: 100%;
}
.slack-icon2 {
  top: 25px;
  left: 32px;
  width: 48px;
  height: 48px;
  z-index: 1;
}
.header-group {
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 99px;
  max-width: 100%;
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--text-default-default);
  font-family: var(--body-base);
}
.your-next-period {
  margin: 0;
}
.heading2,
.subheading2 {
  position: relative;
  line-height: 120%;
}
.heading2 {
  margin: 0;
  flex: 1;
  font-size: inherit;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.subheading2 {
  width: 113px;
  font-size: var(--subheading-size);
  color: var(--text-default-secondary);
  display: none;
  align-items: center;
}
.text-content-heading2 {
  width: 963px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-200);
  max-width: 100%;
}
.b3 {
  font-size: var(--title-page-size);
  font-family: var(--body-base);
}
.days3 {
  font-weight: 600;
}
.text-heading23 {
  height: 93px;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  display: inline-block;
}
.text-heading22 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar-icon10 {
  height: var(--icon-large);
  width: var(--icon-large);
  position: relative;
  border-radius: var(--radius-full);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.description12,
.title61 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.title61 {
  font-weight: 600;
}
.description12 {
  color: var(--text-default-tertiary);
  display: none;
}
.avatar-block10,
.info10,
.testimonial-card11 {
  align-items: flex-start;
  justify-content: flex-start;
}
.info10 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-050);
}
.avatar-block10,
.testimonial-card11 {
  display: none;
}
.avatar-block10 {
  width: 139px;
  flex-direction: row;
  gap: var(--space-300);
  font-size: var(--body-base-size);
  color: var(--text-default-secondary);
}
.testimonial-card11 {
  height: 147px;
  width: 325px;
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--space-600) var(--padding-4xl);
  gap: var(--space-600);
  min-width: 300px;
  max-width: 100%;
}
.current-phase {
  margin: 0;
  font-weight: 600;
}
.luteal {
  margin: 0;
  font-size: var(--title-page-size);
}
.description13 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  color: var(--text-default-tertiary);
}
.text-heading29 {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
}
.avatar-block13,
.testimonial-card14 {
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar-block13 {
  width: 139px;
  display: flex;
  flex-direction: row;
  gap: var(--space-300);
  font-size: var(--body-base-size);
  color: var(--text-default-secondary);
}
.testimonial-card14 {
  width: 325px;
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-4xl);
  gap: var(--space-600);
  min-width: 300px;
  max-width: 100%;
}
.card-grid-testimonials1,
.card-grid2 {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--space-1200);
  max-width: 100%;
}
.card-grid2 {
  height: 342px;
  flex: 1;
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: var(--heading-size);
}
.card-grid-testimonials1 {
  position: absolute;
  top: 99px;
  left: -30px;
  background-color: var(--background-default-default);
  width: 1260px;
  display: flex;
  justify-content: center;
  padding: var(--space-1600) var(--padding-xl) 67px;
  box-sizing: border-box;
  z-index: 1;
  text-align: left;
  font-size: var(--title-page-size);
  color: var(--text-default-default);
  font-family: var(--body-base);
}
.supporting-text,
.week-day-day {
  align-self: stretch;
  position: relative;
}
.supporting-text {
  height: 16px;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.week-day-day {
  font-size: var(--subtitle-size);
  line-height: 40px;
  color: var(--schemes-on-surface);
}
.label-and-date {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 36px;
  min-width: 655px;
  max-width: 100%;
}
.icon5 {
  height: 24px;
  width: 24px;
  position: relative;
}
.state-layer {
  flex-direction: row;
  padding: var(--padding-5xs);
}
.container,
.header5,
.icon-button11,
.state-layer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 40px;
  height: 40px;
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
}
.header5,
.icon-button11 {
  flex-direction: column;
  padding: var(--padding-9xs);
}
.header5 {
  align-self: stretch;
  border-bottom: 1px solid var(--schemes-outline-variant);
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-base) var(--padding-xs) var(--padding-3xs)
    var(--padding-5xl);
  gap: var(--gap-5xs);
  max-width: 100%;
  text-align: left;
}
.menu-label {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 82px;
}
.icon6 {
  height: 18px;
  width: 18px;
  position: relative;
}
.state-layer1 {
  border-radius: var(--br-81xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-9xs) var(--padding-3xs)
    var(--padding-5xs);
  gap: 7px;
}
.building-blocksmenu-button,
.controls,
.local-selection-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.controls,
.local-selection-row {
  flex-direction: row;
}
.local-selection-row {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-9xs) var(--padding-xs) var(--padding-9xs)
    var(--padding-base);
  gap: var(--gap-xl);
}
.date {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  display: inline-block;
  min-width: 10px;
}
.sunday {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-52xl);
}
.date1 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  display: inline-block;
  min-width: 15px;
}
.monday {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-49xl);
}
.date2 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  display: inline-block;
  min-width: 11px;
}
.tuesday,
.wednesday {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tuesday {
  padding: var(--padding-xs) var(--padding-51xl);
  z-index: 1;
}
.wednesday {
  padding: var(--padding-xs) 69px;
}
.thursday {
  align-items: center;
  padding: var(--padding-xs) var(--padding-51xl);
}
.days-of-the-week,
.saturday,
.thursday {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.saturday {
  align-items: center;
  padding: var(--padding-xs) var(--padding-52xl);
  z-index: 1;
}
.days-of-the-week {
  align-items: flex-start;
  row-gap: 20px;
}
.empty-container {
  height: 24px;
  width: 22px;
  position: relative;
}
.state-layer4 {
  padding: var(--padding-5xs) var(--padding-3xs);
}
.container3,
.state-layer4,
.sunday1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sunday1 {
  padding: var(--padding-9xs) var(--padding-37xl);
}
.state-layer6 {
  flex: 1;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-mini);
}
.container5,
.state-layer6,
.tuesday1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container5 {
  flex: 1;
  border-radius: var(--br-81xl);
  overflow: hidden;
  align-items: center;
}
.tuesday1 {
  z-index: 1;
}
.saturday1,
.tuesday1,
.wednesday1 {
  flex: 1;
  align-items: center;
  padding: var(--padding-9xs) var(--padding-37xl);
  box-sizing: border-box;
  min-width: 42px;
}
.wednesday1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.saturday1 {
  z-index: 1;
  color: var(--schemes-primary);
}
.saturday1,
.sunday2,
.tuesday2,
.week-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.week-1 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  row-gap: 20px;
}
.sunday2,
.tuesday2 {
  flex: 1;
  align-items: center;
  padding: var(--padding-9xs) var(--padding-37xl);
  box-sizing: border-box;
  min-width: 151px;
  max-width: 154px;
}
.tuesday2 {
  z-index: 1;
}
.date16 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  display: inline-block;
  min-width: 19px;
}
.state-layer15 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-2xs);
}
.range-highlight-end,
.range-highlight-start {
  width: 80.01%;
  height: 40px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 20px);
  right: 48.76%;
  left: -28.78%;
  background-color: var(--m3-sys-light-secondary-container);
  display: none;
  z-index: 0;
}
.range-highlight-start {
  right: -31.25%;
  left: 51.24%;
  z-index: 1;
}
.date23 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 17px;
}
.container21,
.state-layer22 {
  display: flex;
  flex-direction: row;
}
.state-layer22 {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-2xs);
}
.container21 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-81xl);
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px 0 0;
}
.state-layer35,
.thursday3 {
  flex: 1;
  display: flex;
  align-items: center;
}
.thursday3 {
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-37xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 151px;
  max-width: 154px;
  font-size: var(--body-small-size);
  color: #121111;
}
.state-layer35 {
  background-color: var(--color-thistle);
  padding: var(--padding-5xs) var(--padding-3xs);
}
.container34,
.state-layer35,
.state-layer36 {
  flex-direction: row;
  justify-content: center;
}
.container34 {
  flex: 1;
  border-radius: var(--br-81xl);
  background-color: #897cbe;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.state-layer36 {
  width: 40px;
  background-color: var(--color-thistle);
  padding: var(--padding-5xs) var(--padding-3xs);
  box-sizing: border-box;
}
.saturday5,
.state-layer36,
.state-layer39 {
  display: flex;
  align-items: center;
}
.saturday5 {
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-37xl);
  z-index: 1;
}
.state-layer39 {
  height: 40px;
  padding: var(--padding-3xs) var(--padding-4xs);
  box-sizing: border-box;
}
.state-layer39,
.sunday6,
.week-6 {
  flex-direction: row;
  justify-content: center;
}
.sunday6 {
  display: flex;
  align-items: center;
  padding: var(--padding-9xs);
}
.week-6 {
  display: none;
  align-items: flex-start;
  max-width: 100%;
}
.local-calendar-grid {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--body-base-size);
  color: var(--schemes-on-surface);
}
.label-text,
.state-layer46 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label-text {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
}
.state-layer46 {
  width: 59px;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
}
.clear-button,
.label-text1 {
  align-self: stretch;
  display: none;
  align-items: center;
  justify-content: center;
}
.clear-button {
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-direction: column;
  z-index: 1;
}
.label-text1 {
  width: 32px;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
}
.state-layer47 {
  align-self: stretch;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
}
.label-text2,
.seconday-button,
.state-layer47 {
  align-items: center;
  justify-content: center;
}
.seconday-button {
  flex: 1;
  border-radius: var(--br-81xl);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-width: 16px;
}
.label-text2 {
  align-self: stretch;
  width: 19px;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.button-container,
.local-actions,
.modal-date-picker {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.button-container {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0 0 0 1019px;
  gap: var(--gap-5xs);
}
.local-actions,
.modal-date-picker {
  align-self: stretch;
}
.local-actions {
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs) var(--padding-xs);
  color: var(--schemes-primary);
}
.modal-date-picker {
  border-radius: 28px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-11xl);
  background-image: url(../public/modal-date-picker@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
}
.heading3,
.subheading3 {
  position: relative;
  line-height: 120%;
}
.heading3 {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.02em;
  font-weight: 600;
  font-family: inherit;
}
.subheading3 {
  align-self: stretch;
  height: 24px;
  font-size: var(--subheading-size);
  color: var(--text-default-secondary);
  display: flex;
  align-items: center;
}
.text-content-heading3 {
  width: 284px;
  margin: 0 !important;
  position: absolute;
  right: 368px;
  bottom: 81px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-200);
  z-index: 1;
  font-size: 30px;
  color: var(--text-default-default);
  font-family: var(--body-base);
}
.button57 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 52px;
  font-weight: 400;
  font-family: inherit;
}
.button56,
.modal-date-picker-parent {
  position: absolute;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.button56 {
  width: 448px;
  margin: 0 !important;
  right: 286px;
  bottom: 0;
  border-radius: var(--radius-200);
  background: linear-gradient(90deg, #d2dcfe, #d9eefe);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: 20.5px var(--padding-xl);
  gap: var(--space-200);
  cursor: pointer;
  z-index: 2;
  font-size: 40px;
  color: var(--text-neutral-on-neutral-tertiary);
}
.modal-date-picker-parent {
  top: 346px;
  left: 83px;
  width: 1099px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 218px;
  min-height: 772px;
  text-align: left;
  font-size: var(--body-small-size);
  color: var(--schemes-on-surface-variant);
  font-family: var(--m3-label-large);
}
.calendar {
  width: 100%;
  height: 1214px;
  position: relative;
  background-color: var(--background-default-default);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .navigation-pill-list4 {
    padding-left: var(--padding-291xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .heading2 {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .week-day-day {
    font-size: var(--font-size-7xl);
    line-height: 32px;
  }
  .days-of-the-week {
    flex-wrap: wrap;
  }
  .heading3 {
    font-size: var(--heading-size);
    line-height: 29px;
  }
  .button57 {
    font-size: var(--subtitle-size);
    line-height: 42px;
  }
  .calendar {
    height: auto;
    min-height: 1214;
  }
}
@media screen and (max-width: 750px) {
  .navigation-pill-list4 {
    padding-left: var(--padding-136xl);
    box-sizing: border-box;
  }
  .label-and-date {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .navigation-pill-list4 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .heading2 {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .subheading2 {
    font-size: var(--body-base-size);
    line-height: 19px;
  }
  .text-heading23,
  .text-heading29,
  .week-day-day {
    font-size: var(--font-size-lgi);
    line-height: 46px;
  }
  .text-heading29,
  .week-day-day {
    line-height: 23px;
  }
  .week-day-day {
    line-height: 24px;
  }
  .local-selection-row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .heading3 {
    font-size: 18px;
    line-height: 22px;
  }
  .subheading3 {
    font-size: var(--body-base-size);
    line-height: 19px;
  }
  .button57 {
    font-size: var(--heading-size);
    line-height: 31px;
  }
}
