.icon-button6 {
  height: 44px;
  width: 44px;
  border-radius: var(--scale-06);
  background-color: var(--text-brand-on-brand);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300) var(--padding-2xs);
}
.icon3 {
  height: 35px;
  width: 23.3px;
  position: relative;
}
.block3,
.figma4 {
  width: 40px;
  flex-direction: row;
  align-items: center;
}
.figma4 {
  display: none;
  justify-content: center;
}
.block3 {
  height: 35px;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.title40 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 45px;
}
.navigation-pill18 {
  border-radius: var(--radius-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200);
  cursor: pointer;
}
.title41 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 108px;
  white-space: nowrap;
}
.navigation-pill19 {
  flex: 1;
  border-radius: var(--radius-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200) var(--padding-6xs);
  cursor: pointer;
}
.title42 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 114px;
  white-space: nowrap;
}
.navigation-pill20 {
  flex: 1;
  border-radius: var(--radius-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200) var(--padding-6xs);
}
.title43 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 66px;
}
.navigation-pill21 {
  border-radius: var(--radius-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200);
}
.title44 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 68px;
}
.navigation-pill22 {
  border-radius: var(--radius-200);
  background: linear-gradient(270deg, #d2dcfe, #d9eefe);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200);
}
.title45 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 61px;
}
.navigation-pill-list3,
.navigation-pill23 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation-pill23 {
  border-radius: var(--radius-200);
  justify-content: center;
  padding: var(--space-200) var(--padding-6xs);
}
.navigation-pill-list3 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0 0 0 477px;
  box-sizing: border-box;
  gap: var(--space-200);
  max-width: 100%;
}
.button47,
.star-icon23 {
  position: relative;
  display: none;
}
.star-icon23 {
  height: 16px;
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.button47 {
  align-self: stretch;
  width: 51px;
  line-height: 100%;
  white-space: nowrap;
}
.button46 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--radius-200);
  background-color: var(--background-neutral-tertiary);
  border: 1px solid var(--border-neutral-secondary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200);
  gap: var(--space-200);
}
.star-icon24 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button49 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.button48,
.header-auth3,
.header3 {
  flex-direction: row;
  align-items: center;
}
.button48 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--radius-200);
  background-color: var(--border-brand-default);
  border: 1px solid var(--border-brand-default);
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: var(--space-200);
  gap: var(--space-200);
  color: var(--text-brand-on-brand);
}
.header-auth3,
.header3 {
  justify-content: flex-start;
}
.header-auth3 {
  height: 32px;
  width: 178px;
  display: none;
  gap: var(--space-300);
}
.header3 {
  align-self: stretch;
  background-color: var(--background-default-default);
  border-bottom: 1px solid var(--border-default-default);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  padding: var(--space-800) var(--space-800) var(--padding-11xl);
  gap: 0 22px;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--text-default-default);
  font-family: var(--body-base);
}
.heres-what-we {
  margin: 0;
}
.heres-what-we-container {
  align-self: stretch;
  position: relative;
  font-size: var(--title-page-size);
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 700;
  font-family: var(--body-base);
  color: var(--text-default-default);
  text-align: center;
}
.image-icon {
  height: 465px;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 328px;
  z-index: 0;
}
.text-heading21 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
}
.text-heading20 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag1 {
  flex: 1;
  position: relative;
  line-height: 100%;
}
.tag {
  width: 44px;
  border-radius: var(--radius-200);
  background-color: var(--background-positive-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200);
  box-sizing: border-box;
  gap: var(--space-200);
}
.b1,
.b2,
.price1 {
  align-self: stretch;
}
.b1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
}
.b2,
.price1 {
  flex: 1;
}
.b2 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
}
.price1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.month {
  width: 52px;
  position: relative;
  font-size: var(--body-small-size);
  line-height: 140%;
  display: none;
}
.text-price {
  width: 96px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  gap: var(--space-200);
  font-size: var(--title-page-size);
  color: var(--text-default-default);
}
.price,
.title46 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.price {
  flex: 1;
  justify-content: center;
  gap: var(--space-100);
  font-size: var(--body-base-size);
  color: var(--text-positive-on-positive-secondary);
}
.title46 {
  height: 139px;
  justify-content: flex-start;
  gap: var(--space-400);
}
.text9 {
  flex: 1;
  position: relative;
  line-height: 140%;
  display: inline-block;
  max-width: 100%;
}
.body6,
.text8 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.text8 {
  flex-direction: row;
  font-size: var(--body-base-size);
  color: var(--text-default-secondary);
}
.body6 {
  flex-direction: column;
  gap: var(--space-400);
  font-size: var(--heading-size);
}
.description10,
.label {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.label {
  height: 22px;
  display: inline-block;
  z-index: 0;
}
.description10 {
  color: var(--text-default-secondary);
  display: none;
  z-index: 1;
}
.value {
  flex: 1;
  position: relative;
  line-height: 100%;
  z-index: 0;
}
.chevron-down-icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.hello-world {
  font-weight: 600;
}
.hello-world,
.option-2 {
  height: 22px;
  position: relative;
  line-height: 140%;
  display: inline-block;
}
.options {
  margin: 0 !important;
  position: absolute;
  top: 8px;
  left: 8px;
  box-shadow: var(--drop-shadow-200);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-7xs) var(--padding-7xs) var(--padding-7xs)
    var(--space-200);
  z-index: 2;
}
.options,
.options1,
.select {
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  justify-content: flex-start;
  gap: var(--space-200);
}
.select {
  align-self: stretch;
  height: 41px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--space-300) var(--padding-2xs) var(--space-300)
    var(--padding-mini);
  position: relative;
  min-width: 240px;
  z-index: 2;
}
.options1 {
  margin: 0 !important;
  position: absolute;
  top: 8px;
  left: 8px;
  box-shadow: var(--drop-shadow-200);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-7xs) var(--padding-sm);
  z-index: 3;
}
.fields,
.select-field {
  display: flex;
  justify-content: flex-start;
}
.select-field {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: var(--space-200);
  min-width: 156px;
}
.fields {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--space-600);
}
.button51 {
  position: relative;
  line-height: 100%;
}
.button50 {
  align-self: stretch;
  border-radius: var(--radius-200);
  background-color: var(--border-brand-default);
  border: 1px solid var(--border-brand-default);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--space-300);
  gap: var(--space-200);
  color: var(--text-brand-on-brand);
}
.title47 {
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  max-width: calc(100% - 28px);
}
.chevron-up-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.accordion-content,
.accordion-item,
.accordion-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.accordion-title {
  justify-content: flex-start;
  gap: var(--space-200);
}
.accordion-content,
.accordion-item {
  justify-content: center;
}
.accordion-item {
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  gap: var(--space-200);
}
.title48 {
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  max-width: calc(100% - 28px);
}
.accordion-item1,
.accordion-title1 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.accordion-title1 {
  flex: 1;
  display: flex;
  gap: var(--space-200);
  max-width: 130%;
  flex-shrink: 0;
}
.accordion-item1 {
  align-self: stretch;
  border-radius: var(--radius-200);
  background-color: var(--text-brand-on-brand);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  display: none;
  padding: var(--padding-sm) var(--padding-lg);
  max-width: 100%;
}
.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-400);
  max-width: 640px;
}
.column,
.icon-button8 {
  display: flex;
  justify-content: center;
}
.column {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-600);
  min-width: 328px;
  max-width: 100%;
  z-index: 1;
}
.icon-button8 {
  height: 44px;
  width: 44px;
  margin: 0 !important;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: var(--scale-06);
  background-color: var(--border-brand-default);
  border: 1px solid var(--border-brand-default);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: var(--space-300) var(--padding-2xs);
  z-index: 2;
}
.page-product,
.section {
  align-self: stretch;
  align-items: flex-start;
  max-width: 100%;
}
.section {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  gap: var(--space-1600);
}
.page-product {
  height: 593px;
  background-color: var(--background-default-default);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--space-1600);
  box-sizing: border-box;
  min-width: 240px;
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--text-default-default);
  font-family: var(--body-base);
}
.slack-icon1 {
  width: 48px;
  height: 48px;
  position: absolute;
  margin: 0 !important;
  top: 29px;
  left: 40px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.examplesproduct-detail-page {
  width: var(--device-width);
  position: relative;
  background-color: var(--background-default-default);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .navigation-pill-list3 {
    padding-left: 238px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .b1,
  .b2,
  .heres-what-we-container {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .page-product {
    height: auto;
    min-height: 593;
  }
}
@media screen and (max-width: 725px) {
  .navigation-pill-list3 {
    display: none;
    padding-left: 119px;
    box-sizing: border-box;
  }
  .fields {
    flex-wrap: wrap;
  }
  .accordion {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .navigation-pill-list3 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .heres-what-we-container {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .text-heading21 {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .b1,
  .b2 {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
}
