body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-base: Inter;
  --m3-label-large: Roboto;
  --font-montserrat: Montserrat;

  /* font sizes */
  --body-base-size: 16px;
  --heading-size: 24px;
  --font-size-lgi: 19px;
  --subheading-size: 20px;
  --subtitle-size: 32px;
  --font-size-7xl: 26px;
  --title-hero-size: 72px;
  --font-size-24xl: 43px;
  --font-size-39xl: 58px;
  --title-page-size: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --body-small-size: 14px;

  /* Colors */
  --background-default-default: #fff;
  --background-neutral-tertiary: #e3e3e3;
  --border-default-default: #d9d9d9;
  --border-neutral-secondary: #767676;
  --text-default-secondary: #757575;
  --border-brand-default: #2c2c2c;
  --text-default-default: #1e1e1e;
  --schemes-on-surface: #1d1b20;
  --text-utilities-text-on-overlay: #0c0c0d;
  --schemes-on-surface-variant: #49454f;
  --text-neutral-on-neutral-tertiary: #434343;
  --color-darkslategray-100: #333;
  --text-neutral-default: #303030;
  --text-brand-on-brand: #f5f5f5;
  --color-lightcyan: rgba(226, 255, 255, 0.3);
  --text-default-tertiary: #b3b3b3;
  --background-positive-secondary: #cff7d3;
  --text-positive-on-positive-secondary: #03542d;
  --schemes-primary: #65558f;
  --color-thistle: #d4c9ff;
  --m3-sys-light-secondary-container: #e8def8;
  --schemes-outline-variant: #cac4d0;
  --color-dimgray: #666;

  /* Spacing */
  --space-400: 16px;
  --space-4000: 160px;
  --space-800: 32px;
  --space-300: 12px;
  --space-600: 24px;
  --space-1600: 64px;
  --space-1200: 48px;
  --space-200: 8px;
  --radius-200: 8px;
  --scale-06: 32px;
  --space-050: 2px;
  --radius-full: 9999px;
  --icon-large: 40px;
  --device-width: 1200px;
  --padding-lg: 16px;
  --padding-sm: 8px;
  --space-100: 4px;

  /* Gaps */
  --gap-base: 16px;
  --gap-xs: 12px;
  --gap-5xl: 24px;
  --gap-29xl: 48px;
  --gap-45xl: 64px;
  --gap-5xs: 8px;
  --gap-13xl: 32px;
  --gap-0: 0px;
  --gap-39xl: 58px;
  --gap-10xl: 29px;
  --gap-4xl: 23px;
  --gap-11xs: 2px;
  --gap-3xs: 10px;
  --gap-xl: 20px;
  --gap-12xs: 1px;

  /* Paddings */
  --padding-13xl: 32px;
  --padding-141xl: 160px;
  --padding-base: 16px;
  --padding-45xl: 64px;
  --padding-xs: 12px;
  --padding-2xs: 11px;
  --padding-xl: 20px;
  --padding-85xl: 104px;
  --padding-3xs: 10px;
  --padding-11xl: 30px;
  --padding-7xs: 6px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;
  --padding-3xl: 22px;
  --padding-4xl: 23px;
  --padding-9xs: 4px;
  --padding-5xl: 24px;
  --padding-602xl: 621px;
  --padding-291xl: 310px;
  --padding-136xl: 155px;
  --padding-mini: 15px;
  --padding-4xs: 9px;
  --padding-37xl: 56px;
  --padding-52xl: 71px;
  --padding-51xl: 70px;
  --padding-49xl: 68px;
  --padding-14xl: 33px;
  --padding-35xl: 54px;
  --padding-19xl: 38px;
  --padding-15xl: 34px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-13xl: 32px;
  --br-9980xl: 9999px;
  --br-81xl: 100px;

  /* Effects */
  --drop-shadow-200: 0px 1px 4px rgba(12, 12, 13, 0.1),
    0px 1px 4px rgba(12, 12, 13, 0.05);
}
