.icon-button4,
.menu16-icon2 {
  overflow: hidden;
  flex-shrink: 0;
}
.menu16-icon2 {
  height: 20px;
  width: 20px;
  position: relative;
}
.icon-button4 {
  height: 44px;
  width: 44px;
  border-radius: var(--scale-06);
  background-color: var(--text-brand-on-brand);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300) var(--padding-2xs);
}
.icon2 {
  height: 35px;
  width: 23.3px;
  position: relative;
}
.block2,
.figma3 {
  flex-direction: row;
  align-items: center;
}
.figma3 {
  width: 40px;
  display: flex;
  justify-content: center;
}
.block2 {
  display: none;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.title23 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 45px;
}
.navigation-pill12 {
  border-radius: var(--radius-200);
  background: linear-gradient(90deg, #d9eefe, #d2dcfe);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200);
}
.title24 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 108px;
  white-space: nowrap;
  cursor: pointer;
}
.navigation-pill13 {
  flex: 1;
  border-radius: var(--radius-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200) var(--padding-6xs);
}
.title25,
.title26 {
  position: relative;
  line-height: 100%;
  display: inline-block;
}
.title25 {
  min-width: 114px;
  white-space: nowrap;
}
.title26 {
  min-width: 66px;
}
.navigation-pill15 {
  border-radius: var(--radius-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200);
}
.title27 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 68px;
}
.navigation-pill16 {
  border-radius: var(--radius-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200);
  cursor: pointer;
}
.title28 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 61px;
}
.navigation-pill-list2,
.navigation-pill17 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation-pill17 {
  border-radius: var(--radius-200);
  justify-content: center;
  padding: var(--space-200) var(--padding-6xs);
}
.navigation-pill-list2 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-602xl);
  box-sizing: border-box;
  gap: var(--space-200);
  max-width: 100%;
}
.button39,
.star-icon19 {
  position: relative;
  display: none;
}
.star-icon19 {
  height: 16px;
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.button39 {
  align-self: stretch;
  width: 51px;
  line-height: 100%;
  white-space: nowrap;
}
.button38 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--radius-200);
  background-color: var(--background-neutral-tertiary);
  border: 1px solid var(--border-neutral-secondary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200);
  gap: var(--space-200);
}
.star-icon20 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button41 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.button40,
.header-auth2,
.header2 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.button40 {
  flex: 1;
  border-radius: var(--radius-200);
  background-color: var(--border-brand-default);
  border: 1px solid var(--border-brand-default);
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: var(--space-200);
  gap: var(--space-200);
  color: var(--text-brand-on-brand);
}
.header-auth2,
.header2 {
  justify-content: flex-start;
}
.header-auth2 {
  width: 178px;
  display: none;
  gap: var(--space-300);
}
.header2 {
  background-color: var(--background-default-default);
  border-bottom: 1px solid var(--border-default-default);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  padding: var(--space-800) var(--space-800) var(--padding-11xl);
  gap: 0 24px;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--text-default-default);
  font-family: var(--body-base);
}
.subtitle1,
.title29 {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-family: inherit;
}
.title29 {
  font-size: inherit;
  letter-spacing: -0.03em;
  font-weight: 700;
}
.subtitle1 {
  font-size: var(--subtitle-size);
  font-weight: 400;
}
.text-content-title1 {
  width: 277px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-200);
}
.button43 {
  height: 16px;
  position: relative;
  line-height: 100%;
  display: inline-block;
  white-space: nowrap;
}
.button42,
.button44 {
  border-radius: var(--radius-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: var(--space-200);
}
.button42 {
  flex: 1;
  background-color: var(--background-neutral-tertiary);
  border: 1px solid var(--border-neutral-secondary);
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.button44 {
  height: 40px;
  background-color: var(--border-brand-default);
  border: 1px solid var(--border-brand-default);
  box-sizing: border-box;
  padding: var(--space-300) var(--padding-2xs);
  color: var(--text-brand-on-brand);
}
.button-group7,
.button44,
.hero-image1 {
  align-items: center;
  justify-content: center;
}
.button-group7 {
  width: 166px;
  display: none;
  flex-direction: row;
  gap: var(--space-400);
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--text-default-default);
}
.hero-image1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: var(--space-4000) var(--padding-xl);
  gap: var(--space-800);
  background-image: url(../public/hero-image1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--title-hero-size);
  color: var(--text-utilities-text-on-overlay);
  font-family: var(--body-base);
}
.heading1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 29px;
  font-weight: 600;
  font-family: inherit;
}
.subheading1 {
  position: relative;
  font-size: var(--subheading-size);
  line-height: 120%;
  color: var(--text-default-secondary);
}
.text-content-heading1 {
  width: 231px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-200);
}
.period-in {
  margin: 0;
  font-weight: 600;
}
.b {
  font-size: var(--title-page-size);
  font-family: var(--body-base);
}
.days1 {
  font-weight: 600;
}
.days {
  margin: 0;
}
.text-heading1 {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  display: inline-block;
  min-height: 93px;
}
.text-heading {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar-icon {
  height: var(--icon-large);
  width: var(--icon-large);
  position: relative;
  border-radius: var(--radius-full);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.description,
.title30 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.title30 {
  font-weight: 600;
}
.description {
  color: var(--text-default-tertiary);
  display: none;
}
.avatar-block,
.info {
  align-items: flex-start;
  justify-content: flex-start;
}
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-050);
}
.avatar-block {
  width: 139px;
  display: none;
  flex-direction: row;
  gap: var(--space-300);
  font-size: var(--body-base-size);
  color: var(--text-default-secondary);
}
.testimonial-card,
.testimonial-card1 {
  border: 1px solid var(--border-default-default);
  background-color: var(--background-default-default);
  flex: 1;
  border-radius: var(--radius-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 300px;
  max-width: 100%;
}
.testimonial-card {
  padding: var(--padding-3xl) var(--padding-4xl);
  gap: var(--space-600);
}
.testimonial-card1 {
  height: 141px;
  width: auto;
  outline: 0;
  padding: var(--space-600);
  color: var(--text-default-default);
}
.p {
  margin: 0;
  font-size: var(--title-page-size);
}
.description1 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  color: var(--text-default-tertiary);
}
.text-heading5 {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
}
.avatar-block2 {
  width: 139px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-300);
  font-size: var(--body-base-size);
  color: var(--text-default-secondary);
}
.card-grid,
.card-grid-testimonials,
.testimonial-card3 {
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.testimonial-card3 {
  width: 325px;
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  display: none;
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-4xl);
  gap: var(--space-600);
  min-width: 300px;
}
.card-grid,
.card-grid-testimonials {
  align-self: stretch;
  display: flex;
}
.card-grid {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-9xs) 0 0;
  gap: 48px 46px;
}
.card-grid-testimonials {
  background-color: var(--background-default-default);
  flex-direction: column;
  padding: var(--space-1600) var(--space-1600) 43px;
  gap: var(--space-1200);
  text-align: left;
  font-size: var(--heading-size);
  color: var(--text-default-default);
  font-family: var(--body-base);
}
.text-heading11 {
  height: 93px;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  display: inline-block;
  max-width: 100%;
}
.card-grid1,
.home,
.text-heading10 {
  display: flex;
  justify-content: flex-start;
}
.text-heading10 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.card-grid1,
.home {
  box-sizing: border-box;
}
.card-grid1 {
  width: 1192px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  gap: 48px 46px;
  max-width: 100%;
  text-align: left;
  font-size: var(--heading-size);
  color: var(--text-default-default);
  font-family: var(--body-base);
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--background-default-default);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 0 0 179px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .navigation-pill-list2 {
    padding-left: var(--padding-291xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .title29 {
    font-size: var(--font-size-39xl);
    line-height: 69px;
  }
  .subtitle1 {
    font-size: var(--font-size-7xl);
    line-height: 31px;
  }
}
@media screen and (max-width: 750px) {
  .navigation-pill-list2 {
    padding-left: var(--padding-136xl);
    box-sizing: border-box;
  }
  .card-grid {
    gap: var(--gap-4xl);
  }
  .card-grid-testimonials {
    gap: var(--space-1200);
    padding-left: var(--space-1600);
    padding-right: var(--space-1600);
    box-sizing: border-box;
  }
  .card-grid1 {
    gap: var(--gap-4xl);
  }
}
@media screen and (max-width: 450px) {
  .navigation-pill-list2 {
    display: none;
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .title29 {
    font-size: var(--font-size-24xl);
    line-height: 52px;
  }
  .subtitle1 {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .hero-image1 {
    gap: var(--space-800);
    padding-top: var(--space-4000);
    padding-bottom: var(--space-4000);
    box-sizing: border-box;
  }
  .heading1 {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .subheading1 {
    font-size: var(--body-base-size);
    line-height: 19px;
  }
  .text-heading1,
  .text-heading5 {
    font-size: var(--font-size-lgi);
    line-height: 46px;
  }
  .text-heading5 {
    line-height: 23px;
  }
  .card-grid-testimonials {
    padding-top: var(--space-1600);
    padding-bottom: var(--space-1600);
    box-sizing: border-box;
  }
  .text-heading11 {
    font-size: var(--font-size-lgi);
    line-height: 46px;
  }
}
