.text6 {
  width: 100%;
  height: 58px;
  position: absolute;
  margin: 0 !important;
  bottom: 111px;
  left: 0;
  letter-spacing: -0.02em;
  line-height: 120%;
  display: inline-block;
}
.icon-button2,
.menu16-icon1 {
  overflow: hidden;
  flex-shrink: 0;
}
.menu16-icon1 {
  height: 20px;
  width: 20px;
  position: relative;
}
.icon-button2 {
  height: 44px;
  width: 44px;
  border-radius: var(--scale-06);
  background-color: var(--text-brand-on-brand);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300) var(--padding-2xs);
}
.icon1 {
  height: 35px;
  width: 23.3px;
  position: relative;
  display: none;
}
.block1,
.figma2 {
  flex-direction: row;
  align-items: center;
}
.figma2 {
  height: 35px;
  width: 40px;
  display: flex;
  justify-content: center;
}
.block1 {
  display: none;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  background-image: url(../public/block@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.title17 {
  position: relative;
  line-height: 100%;
}
.navigation-pill6 {
  border-radius: var(--radius-200);
  background-color: var(--text-brand-on-brand);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200);
}
.title18 {
  height: 16px;
  position: relative;
  line-height: 100%;
  white-space: nowrap;
}
.navigation-pill7,
.title18,
.title19 {
  display: flex;
  align-items: center;
}
.navigation-pill7 {
  border-radius: var(--radius-200);
  flex-direction: row;
  justify-content: center;
  padding: var(--space-200) var(--padding-6xs);
}
.title19 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  white-space: nowrap;
}
.navigation-pill8 {
  border-radius: var(--radius-200);
  flex-direction: row;
  justify-content: center;
  padding: var(--space-200) var(--padding-6xs);
}
.navigation-pill8,
.navigation-pill9,
.title21 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.navigation-pill9 {
  border-radius: var(--radius-200);
  flex-direction: row;
  justify-content: center;
  padding: var(--space-200);
}
.title21 {
  position: relative;
  line-height: 100%;
}
.navigation-pill-list1 {
  height: 32px;
  width: 870px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-200);
  max-width: 100%;
}
.button33,
.star-icon16 {
  position: relative;
  display: none;
}
.star-icon16 {
  height: 16px;
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.button33 {
  align-self: stretch;
  width: 51px;
  line-height: 100%;
  white-space: nowrap;
}
.button32 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--radius-200);
  background-color: var(--background-neutral-tertiary);
  border: 1px solid var(--border-neutral-secondary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200);
  gap: var(--space-200);
}
.star-icon17 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button35 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.button34,
.header-auth1 {
  flex-direction: row;
  align-items: center;
}
.button34 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--radius-200);
  background-color: var(--border-brand-default);
  border: 1px solid var(--border-brand-default);
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: var(--space-200);
  gap: var(--space-200);
  color: var(--text-brand-on-brand);
}
.header-auth1 {
  height: 32px;
  width: 178px;
  display: none;
  justify-content: flex-start;
  gap: var(--space-300);
}
.header1,
.slack-icon {
  position: absolute;
  overflow: hidden;
}
.header1 {
  top: 0;
  left: 0;
  background-color: var(--background-default-default);
  border-bottom: 1px solid var(--border-default-default);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--space-800);
  max-width: 100%;
}
.slack-icon {
  top: 29px;
  left: 40px;
  width: 48px;
  height: 48px;
  z-index: 1;
}
.header-parent {
  align-self: stretch;
  height: 99px;
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--text-default-default);
  font-family: var(--body-base);
}
.blank-line {
  margin: 0;
}
.first-please-answer-container {
  align-self: stretch;
  position: relative;
  font-size: var(--title-page-size);
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 700;
  font-family: var(--body-base);
  color: var(--text-default-default);
  text-align: center;
  display: inline-block;
  min-height: 812px;
}
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.button37,
.text7 {
  line-height: 120%;
  font-family: var(--body-base);
  display: inline-block;
}
.text7 {
  width: 100%;
  height: 58px;
  position: absolute;
  margin: 0 !important;
  bottom: 5px;
  left: 0;
  font-size: var(--title-page-size);
  letter-spacing: -0.02em;
  font-weight: 700;
  color: var(--text-default-default);
  text-align: center;
}
.button37 {
  position: relative;
  font-size: var(--subheading-size);
  color: var(--text-neutral-on-neutral-tertiary);
  text-align: left;
  min-width: 67px;
}
.button36 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-45xl);
  background-color: transparent;
  border-radius: var(--radius-200);
  background: linear-gradient(90deg, #d2dcfe, #d9eefe);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--space-200);
}
.button-wrapper,
.button36,
.questions {
  display: flex;
  align-items: flex-start;
}
.button-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.questions {
  width: 100%;
  position: relative;
  background-color: var(--background-default-default);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 63px;
  box-sizing: border-box;
  gap: var(--gap-39xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--title-page-size);
  color: var(--text-default-default);
  font-family: var(--body-base);
}
@media screen and (max-width: 750px) {
  .first-please-answer-container,
  .text6,
  .text7 {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
}
@media screen and (max-width: 675px) {
  .questions {
    gap: var(--gap-10xl);
  }
}
@media screen and (max-width: 450px) {
  .first-please-answer-container,
  .text6,
  .text7 {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .button37 {
    font-size: var(--body-base-size);
    line-height: 19px;
  }
}
